<header style="background-color: #2ebaea;">
    <img src="{{ asset('public/img/icons/guiame_logo_horizontal.png') }}" alt="Guiame">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="btn-group">
            <div class="dropdown-toggle">
                <div class="btn" data-toggle="dropdown" style="color: white">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                    Menu
                </div>
                <ul class="dropdown-menu">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('info_homepage') }}">
                                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp; Información del Edificio
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('mapa_homepage') }}">
                                <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp; Mapa de Recorridos
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('ubicacion_homepage') }}">
                                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp; Ubicación de Servicios
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('carta_homepage') }}">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp; Cartas de Menú
                            </a>
                        </li>
                        <li class="divider"></li>
                    {% endif %}
                    <li>
                        <a href="{{ path('logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp; Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
</header>
