<header style="background-color: #2ebaea; color: white">
    <img src="{{ asset('public/img/icons/guiame_logo_horizontal.png') }}" alt="Guiame">
</header>

{% if is_granted('ROLE_USER') %}
<div class="btn-group">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i>
            {% if is_granted('ROLE_SUPERADMIN') %}
                Super Administrador
            {% elseif is_granted('ROLE_ADMIN') %}
                Administrador
            {% elseif is_granted('ROLE_LOCAL_COMERCIAL') %}
                {{ app.user.username }}
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-eject"></span> Cerrar Sesión</a></li>
        </ul>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="btn-group">
        <a href="{{ path('admin_homepage') }}" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-th-large"></span>
            Menú 
        </a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('informacion_homepage') }}"><span class="glyphicon glyphicon-home"></span> Vista del Usuario</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span> Configuración
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href=""><span class="glyphicon glyphicon-user"></span> Administrar Usuarios</a></li>
        </ul>
    </div>
    {% endif %}
</div>
{% endif %}
