{% extends '::base.html.twig' %}

{% block titulo %}
    Mapa de Recorridos
{% endblock %}

{% block headerJavascripts %}
    <script src="{{ asset('bower_components/vis/dist/vis.min.js') }}"></script>
    <script src="{{ asset('public/js/dijkstras.js') }}"></script>
    <script src="{{ asset('public/js/mapa/app.js') }}"></script>
    <script src="{{ asset('public/js/mapa/saveController.js') }}"></script>
    <script src="{{ asset('public/js/buttonSendDirective.js') }}"></script>
    <script>
        var datos = { 
            urlGetCurrenMap: "{{ path('mapa_current') }}",
            urlSaveMap: "{{ path('mapa_save') }}"
        };
    </script>
{% endblock %}

{% block contenido %}
<div ng-app="app" ng-controller="AppCtrl">
    <div class="text-right" style="margin: 0 20px;" ng-controller="SaveCtrl">
        <btn-send label="Guardar Mapa de Recorrido" xclass="btn btn-primary" method="POST" url="{{ path('mapa_save') }}" data="data"></btn-send>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-sm-4 col-md-3">
            {% include 'AdminBundle:Mapa:controles/panel.html.twig' %}
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div id="network" class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}