{% extends "FrontendBundle:Default:layout.html.twig" %}

{% block contenido %}
    {% if app.environment == 'dev' %}
        <h1>Información del Edificio</h1>
    {% endif %}

    <div class="dl-horizontal">
        <dt>Edificio:</dt>
        <dd>{{ info.nombre }}</dd>
        <dt>Direccion:</dt>
        <dd>{{ info.direccion }}</dd>
        <dt>Descripcion:</dt>
        <dd>{{ info.descripcion }}</dd>
        <dt>Teléfono:</dt>
        <dd>{{ info.telefono }}</dd>
        <dt>Email:</dt>
        <dd>{{ info.email }}</dd>
    </div>
    
    <a href="{{ path('informacion_homepage') }}">Volver al Menu Principal</a>

{% endblock %}
