{% extends "FrontendBundle:Default:layout.html.twig" %}

{% block title %}Guiarme hasta {{ item.nombre }}{% endblock %}

{% block contenido %}
    {% if app.environment == 'dev' %}
        <h1>Ubicación inicial</h1>
    {% endif %}

    <strong>Estoy en</strong>
    <ul>
        {% for puntoRef in puntosReferencia %}
            <li>
                <a href="{{ path('indicaciones', {'id': item.id, 'puntoInicio': puntoRef.id }) }}">{{ puntoRef.infRef.titulo }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="volver">
        <a href="{{ path('informacion_item_detalle', {'id': item.id }) }}">Volver al detalle del servicio</a>
        <a href="{{ path('informacion_servicio_items', {'id': item.servicio.id }) }}">Volver a lugares de interes</a>
        <a href="{{ path('informacion_servicios') }}">Volver al listado de servicios</a>
        <a href="{{ path('informacion_homepage') }}">Volver al menu principal</a>
    </div>

{% endblock %}
