{% extends '::base.html.twig' %}

{% block titulo %}Administración{% endblock %}

{% block contenido %}
    <div class="row main-menu">
        <div class="col-sm-4 col-sm-offset-2">
            <a href="{{ path('info_homepage') }}" class="btn btn-block btn-default">
                <img src="{{ asset('public/img/icons/menu_informacion.png') }}" alt="">
                <p style="width: 30px;!important">Información del Edificio</p>
            </a>
            <a href="{{ path('ubicacion_homepage') }}" class="btn btn-block btn-default">
                <img src="{{ asset('public/img/icons/menu_servicios.png') }}" alt="">
                <p>Ubicación de Servicios</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('mapa_homepage') }}" class="btn btn-block btn-default">
                <img src="{{ asset('public/img/icons/menu_mapa.png') }}" alt="">
                <p>Mapa de Recorridos</p>
            </a>
            <a href="{{ path('carta_homepage') }}" class="btn btn-block btn-default">
                <img src="{{ asset('public/img/icons/menu_carta.png') }}" alt="">
                <p>Cartas de Menú</p>
            </a>
        </div>
    </div>

{% endblock %}
