<form action="{{ path('local_save_info') }}" class="form-horizontal" method="POST">
    <div class="form-group">
        <label for="" class="col-sm-3 control-label">Nombre del Local</label>
        <div class="col-sm-5">
            {{ form_widget(localForm.local, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-3 control-label">Dirección</label>
        <div class="col-sm-5">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-home"></span>
                </div>
            {{ form_widget(localForm.direccion, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-3 control-label">Teléfono</label>
        <div class="col-sm-5">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-earphone"></span>
                </div>
                {{ form_widget(localForm.telefono, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <input type="submit" class="btn btn-primary" value="Guardar Información">
        </div>
    </div>
    {{ form_widget(localForm.telefono) }}
</form>