{% extends "::base.html.twig" %}

{% block titulo %}Local Comercial {{ local.local }}{% endblock %}

{% block contenido %}
    <div class="container">
        {% include 'AdminBundle:LocalComercial:forms/edit.html.twig' %}

        <legend>Edición de la Carta de Menú</legend>
        <div class="well">
            <legend>Formulario Categoria</legend>
            <form action="{{ path('categoria_save') }}" method="POST">
                {{ form_widget(categoriaForm) }}
                <input type="submit" value="Crear Categoria" class="btn btn-primary">
            </form>
        </div>

        <div class="well">
            <legend>Formulario Producto</legend>
            <form action="{{ path('producto_save') }}" method="POST">
                {{ form_widget(productoForm) }}
                <input type="submit" value="Crear Producto" class="btn btn-primary">
            </form>
        </div>
        {% include 'AdminBundle:LocalComercial:_edicionCarta.html.twig' %}
    </div>

{% endblock %}
