{% verbatim %}
  <div ng-hide="showForm()" class="col-sm-5 localizacion">
    <h2 style="margin-top: 30px;" class="text-center text-muted">Seleccione un arco para agregar los servicios que se ubican en el.</h2>
  </div>
  <div ng-show="showForm()" class="col-sm-5 localizacion">
    <div class="nodo-origen">{{ arcoEdit.from }}</div>
    <div class="panel-izq"> 
      <div ng-repeat="lugar in guiLugares.izq track by $index">
        <div ts-panel-servicio="ts-panel-servicio" direccion="left" listado-servicios="listadoServicios" lugar="lugar" remove="guiLugares.remove('izq', $index)"></div>
      </div>
      <button ng-click="guiLugares.add('izq')" class="btn btn-success">Agregar</button>
    </div>
    <div class="panel-der">
      <div ng-repeat="lugar in guiLugares.der track by $index">
        <div ts-panel-servicio="ts-panel-servicio" direccion="right" listado-servicios="listadoServicios" lugar="lugar" remove="guiLugares.remove('der', $index)"></div>
      </div>
      <button ng-click="guiLugares.add('der')" class="btn btn-success">Agregar</button>
    </div>
    <div class="nodo-destino">{{ arcoEdit.to }}</div>
    <div style="margin-top: 20px;" class="text-center">
      <button ng-click="guardar()" ng-hide="loader" class="btn btn-primary">Guardar</button><img src="{% endverbatim %}{{ asset('public/img/barloader.gif') }}{% verbatim %}" ng-show="loader"/>
    </div>
  </div>

<script type="text/ng-template" id="panel-servicio.html">
  <div class="popover popover-item {{ direccion }}">
    <div class="arrow"></div>
    <h3 class="popover-title">
      <button ng-click="remove()" class="item-remove"><i class="glyphicon glyphicon-remove"></i></button>
      <div style="margin-bottom: 3px;">
        <select ng-model="lugar.idCategoria" ng-change="updateSublistaServicios()" class="form-control">
          <option ng-repeat="c in listadoServicios" value="{{ c.id }}">{{ c.nombre }}</option>
        </select>
      </div>
      <div style="margin-bottom: 3px;">
        <select ng-model="lugar.idServicio" ng-change="updatePropiedades()" class="form-control">
          <option ng-repeat="s in sublistaServicios" value="{{ s.id }}">{{ s.nombre }}</option>
        </select>
      </div>
      <div style="margin-bottom: 3px;">
        <input type="text" placeholder="Distancia" ng-model="lugar.distancia" class="form-control"/>
      </div>
    </h3>
  </div>
</script>

{% endverbatim %}
