<div class="text-right">
    <button class="btn btn-success" data-toggle="modal" data-target="#crearServicio">
        <i class="glyphicon glyphicon-plus"> </i> 
        Categoría de Servicio
    </button>
</div>

{% verbatim %}
<div ng-repeat="servicio in servicios">
    <legend>
        <div class="dropdown pull-left" style="margin-right: 5px; margin-top: -2px;">
            <button class="btn btn-primary btn-xs" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="editServicio($index)"><i class="glyphicon glyphicon-pencil text-info"></i> Editar Categoría de Servicio</a></li>
                <li><a ng-click="deleteServicio($index)"><i class="glyphicon glyphicon-trash text-danger"></i> Eliminar Categoría de Servicio</a></li>
                <li><a ng-click="newServicioItem(servicio.id)"><i class="glyphicon glyphicon-plus text-success"></i> Agregar un Servicio</a></li>
            </ul>
        </div>
        {{ servicio.nombre }}
    </legend>
    <blockquote>
        <em>
            {{ servicio.descripcion }}
        </em>
    </blockquote>
    <table class="table table-bordered table-striped" ng-show="servicio.items.length > 0">
        <thead>
            <tr>
                <th>Nº</th><th>Nombre</th><th>Descripción</th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in servicio.items">
                <td>{{ $index + 1 }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td style="width: 175px;" class="text-center">
                    <button class="btn btn-info btn-xs" ng-click="editarServicioItem($parent.$index, $index)">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </button>
                    <button class="btn btn-danger btn-xs" ng-click="deleteServicioItem(servicio.id, item.id)">
                        <i class="glyphicon glyphicon-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-muted text-center" ng-hide="servicio.items.length > 0" style="margin: 40px;">
        Todavía no cargaste servicios para esta categoria.
    </h2>
</div>
{% endverbatim %}


{# Definición de Ventanas Modales #}

<!-- Modal Creación Categoria de Servicio -->
<div class="modal fade" id="crearServicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form action="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    Nueva Categoria de Servicio
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        {{ form_label(servicioForm.nombre, null, { 'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        <div class="col-sm-6">
                            {{ form_widget(servicioForm.nombre, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(servicioForm.descripcion, null, { 'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        <div class="col-sm-6">
                            {{ form_widget(servicioForm.descripcion, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" ng-click="saveServicio()" >Crear Categoría</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
  </div>
</div>

{# Modal Edición de Categoria de Servicio #}
<div class="modal fade" id="editServicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    Editar Categoria de Servicio
                </h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="editarServicio.nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Descripción</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" ng-model="editarServicio.descripcion" rows="6"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" ng-click="updateServicio()" >Guardar Cambios</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal Eliminación de Categoria de Servicio #}
<div class="modal fade" id="deleteServicio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-danger text-center" id="myModalLabel">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                    Eliminación de la Categoria del Servicio
                </h4>
            </div>
            <div class="modal-body text-center">
                {% verbatim %}
                    <p class="lead">¿Esta seguro de que quiere eliminar la Categoría <strong>{{ eliminarServicio.nombre }}</strong> junto a sus <strong>{{ eliminarServicio.items.length }}</strong> servicios?</p>
                {% endverbatim %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="removeServicio()" >Eliminar</button>
            </div>
        </div>
    </div>
</div>

{# Modal Agregar un ServicioItem #}
<div class="modal fade" id="crearServicioItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    Creación de Servicio para la categoria
                    {# {% verbatim %} {{  }} {% endverbatim %} #}
                </h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body text-center">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="nuevoServicioItem.nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Descripción</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" ng-model="nuevoServicioItem.descripcion" rows="6"></textarea>
                        </div>
                    </div>
                    <input type="hidden" ng-model="nuevoServicioItem.servicio">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveServicioItem()" >Crear Servicio</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# Modal Eliminación de Servicio Item #}
<div class="modal fade" id="deleteServicioItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-danger text-center" id="myModalLabel">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                    Eliminación del Servicio
                </h4>
            </div>
            <div class="modal-body text-center">
                {% verbatim %}
                    <p class="lead">¿Esta seguro de que quiere eliminar el servicio <strong>{{ eliminarServicioItem.nombre }}</strong>?</p>
                {% endverbatim %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="removeServicioItem()" >Eliminar</button>
            </div>
        </div>
    </div>
</div>

{# Modal Edición de Servicio Item #}
<div class="modal fade" id="editarServicioItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    Editar Servicio
                </h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body text-center">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="edicionServicioItem.nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Descripción</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" ng-model="edicionServicioItem.descripcion" rows="6"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="updateServicioItem()" >Guardar Cambios</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>