<div class="pull-right">
    {{ modal.button('nuevoServicio', 'plus', 'Servicio') }}
    {{ modal.button('nuevoServicioItem', 'plus', 'Item Servicio') }}
</div>


{% if servicios|length == 0 %}
    <h2 class="text-center text-muted">Todavia no se agregaron servicios</h2>
{% else %}
    {% for servicio in servicios %}
        <legend> {{ _self.dropdown() }} {{ servicio.nombre }}</legend>
        {% if servicio.items | length == 0 %}
            <h2 class="text-center text-muted">
                Todavia no se han agregado items a este servicio.
            </h2>
        {% else %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th><th>Nombre</th><th>Descripción</th>
                        <th style="width: 180px"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in servicio.items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</button>
                            <button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i> Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endif %}

{% macro dropdown() %}
<div class="btn-group">
    <div class="dropdown">
      <button type="button" data-toggle="dropdown" class="btn btn-link dropdown-toggle"><i class="glyphicon glyphicon-cog"> </i></button>
      <ul class="dropdown-menu">
        <li> 
          <button class="btn btn-link"><i class="glyphicon glyphicon-pencil"></i> Editar servicio</button>
        </li>
        <li> 
          <button class="btn btn-link"><i class="glyphicon glyphicon-trash"></i> Borrar servicio</button>
        </li>
      </ul>
    </div>
</div>
{% endmacro %}

{# Modal para Agregar Nuevo Servicio #}
{{ modal.header('nuevoServicio', path('servicio_save'), 'Nuevo Servicio') }}
    <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{ form_label(servForm.nombre) }}</label>
        <div class="col-sm-6">
            {{ form_widget(servForm.nombre, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{ form_label(servForm.descripcion) }}</label>
        <div class="col-sm-6">
            {{ form_widget(servForm.descripcion, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_widget(servForm) }}
{{ modal.footer('Guardar') }}

{# Modal para Agregar Nuevo Servicio #}
{{ modal.header('nuevoServicioItem', path('servicio_item_save'), 'Nuevo Servicio') }}
    <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{ form_label(servItemForm.servicio) }}</label>
        <div class="col-sm-6">
            {{ form_widget(servItemForm.servicio, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{ form_label(servItemForm.nombre) }}</label>
        <div class="col-sm-6">
            {{ form_widget(servItemForm.nombre, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{ form_label(servItemForm.descripcion) }}</label>
        <div class="col-sm-6">
            {{ form_widget(servItemForm.descripcion, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_widget(servItemForm) }}
{{ modal.footer('Guardar') }}
