{% extends "::base.html.twig" %}

{% block titulo %}Ubicaci贸n de Servicios{% endblock %}

{% block headerJavascripts %}
    <script src="{{ asset('bower_components/vis/dist/vis.min.js') }}"></script>
    <script src="{{ asset('public/js/ubicacion/app.js') }}"></script>
    <script src="{{ asset('public/js/mapa/saveController.js') }}"></script>
    <script src="{{ asset('public/js/buttonSendDirective.js') }}"></script>
    <script>
        var datos = { 
            urlGetCurrenMap: "{{ path('mapa_current') }}",
            urlSaveMap: "{{ path('mapa_save') }}"
        };
    </script>
{% endblock %}

{% block contenido %}
<div ng-app="app" ng-controller="AppCtrl">
    <div class="text-right" style="margin: 0 20px;" ng-controller="SaveCtrl">
        <btn-send label="Guardar Informaci贸n" xclass="btn btn-primary" method="POST" url="{{ path('mapa_save') }}" data="data"></btn-send>
    </div>
    <div class="row" style="margin: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#servicios" data-toggle="tab" aria-expanded="true">Servicios</a></li>
            <li><a href="#localizacion" data-toggle="tab" aria-expanded="true">Localizaci贸n de Servicios</a></li>
        </ul>
        <div class="tab-content">
            <div id="servicios" class="tab-pane active">incluir plantilla de servicios</div>
            <div id="localizacion" class="tab-pane">incluir plantilla de localizaci贸n de servicios</div>
        </div>
    </div>
</div>
{% endblock %}
