{% extends "::base.html.twig" %}

{% import '::components/_modal.html.twig' as modal %}

{% block titulo %}Ubicación de Servicios{% endblock %}

{% block headerJavascripts %}
    <script src="{{ asset('bower_components/vis/dist/vis.min.js') }}"></script>
    <script src="{{ asset('public/js/ubicacion/app.js') }}"></script>
    <script src="{{ asset('public/js/ubicacion/directives.js') }}"></script>
    <script src="{{ asset('public/js/ubicacion/localizacionCtrl.js') }}"></script>
    <script src="{{ asset('public/js/ubicacion/networkCtrl.js') }}"></script>
    <script src="{{ asset('public/js/buttonSendDirective.js') }}"></script>
    <script>
        var datos = { 
            urlGetCurrenMap: "{{ path('mapa_current') }}",
            urlSaveMap: "{{ path('mapa_save') }}",
            urlGetServicios: "{{ path('get_api_servicios') }}.json"
        };
    </script>
{% endblock %}

{% block contenido %}
<div ng-app="app" ng-controller="AppCtrl">
    <div class="row" style="margin: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#servicios" data-toggle="tab" aria-expanded="true">Servicios</a></li>
            <li><a href="#localizacion" data-toggle="tab" aria-expanded="true">Localización de Servicios</a></li>
        </ul>
        <div class="tab-content tab-bordered">
            <div id="servicios" class="tab-pane active">
                {% include 'AdminBundle:Ubicacion:_servicios.html.twig' %}
            </div>
            <div id="localizacion" class="tab-pane" ng-controller="LocalizacionCtrl">
                {% include 'AdminBundle:Ubicacion:_localizacion.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

